@font-face {
	font-family: 'Lobster';
	font-style: normal;
	font-weight: normal;
	src: url('Lobster.eot');
	src: local('Lobster'),
		 url('Lobster.woff') format('woff'),
		 url('Lobster.ttf') format('truetype');
}

body {
	padding-top: 60px;
}
h1 {
	
}
h1 abbr {
	font-weight: bold;
}
h1 span {
	font-family: Lobster;
	font-weight: normal;
}
h2 {
	font-family: Lobster;
    font-size: 24px;
    line-height: 1.2em;
    margin-bottom: .5em;
}
.portada {
	padding: 35px 60px 15px 60px;
}
.portada h1 {
	font-size: 2.6em;
	margin: 0 0 .5em 0;
	line-height: 1.2em;
}
p {
    font-size: 1em;
    font-weight: normal;
    line-height: 1.4em;
    margin-bottom: .8em;
}
.calendar {
  width: 235px;
  height: 200px;
  float: left;
  background: transparent url(../images/calendar.png) center center no-repeat;
  margin: 20px;
  padding:  1px 2px 3px 4px;
}
.calendar .month {
  display: block;
  text-align: center;
  margin: 60px 10px 0px auto;
  color: #fff;
  font-size: 25px;
  font-family: Lobster;
}
.calendar .day {
  display: block;
  text-align: center;
  padding-top: 0px;
  margin: 30px 10px 0px auto;
  color: #000;
  font-size: 80px;
  font-family: Lobster;
  height: 80px;
  line-height: 80px;
}
.logo {
	width:160px;
	margin: 0 0 0 65px;
	}
.sqj {
	margin: 0 0 0 25px;
	}
